@{
    ViewData["Title"] = "Get Started";
}

<div class="text-center mt-5">
    <h2>Welcome to Tourism Management</h2>
    <p>Please choose an option to continue:</p>

    <a asp-controller="Account" asp-action="Login" class="btn btn-primary m-2">Login</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-success m-2">Register</a>
</div>
